body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container{
	background-color: tan;
	width: 200px;
	height: 200px;
}

.desk-name {
	right: 0;
	text-align: right;
}